#mainMap {
    stroke: #666;
    stroke-width: 1px;
    fill: white;
    height: 100%;
    width: 100%;
}

.input {
    position: absolute;
    z-index: 1;
}

.sideBar {
    width: 40%;
    height: 100%;
    background-color: #49F;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
}